.form-new {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 45px;
}

.input-form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    width: 35%;
    background-color: #4f4fff;
    color: white;
    padding: 14px 9px;
    margin: 8px 0;
    border: none;
    float: left;
    cursor: pointer;
}

.file-list {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
}

.file-list tr {
    border-top: 1px solid black;
}

.file-list th {
    border-left: 500px;
    border-right: 1px solid black;
}

.file-list td {
    width: 100%;
}

.tableintable {
    border-collapse: collapse;
}

.tableintable td {
    border-right: 1px solid black;
    border: none;
}

.tableintable tr {
    border: none;
}

.tableintable th {
    border-right: 1px solid black;
}

.trash-button {
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    float: right;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.view-button {
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    float: left;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.modal {
    z-index: 3;
    display: none;
    padding-top: 5%;
    padding-left: 5%;
    position: fixed;
    left: 0;
    top: 0;
    border: none !important;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(51, 34, 34);
    background-color: rgba(0, 0, 0, 0.4);
}

.iframestyle {
    border: none;
}

.menu-bar {
    top: 0;
    width: 100%;
    height: 50px;
    color: #333;
    background: rgb(173, 173, 173);
}

.menu-itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.menu-itens a:link {
    color: white;
}

.menu-itens a:visited {
    color: white;
}

.menu-itens a:hover {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #333;
}

.menu-itens a:active {
    color: blue;
}

.menu-itens a {
    margin: 15px;
    text-decoration: none;
}